/******** Menu **********/
#menu
{
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  height: 45px;
  line-height: 45px;
  background: white;
  overflow: hidden;
  list-style-type: none;
  margin: auto;
  width:70%;
  background: #9053c7;
  border-radius: 12px;
}

#menu li{
  float: left;
  width:25%;
  font-weight:bold;
  padding-top: 10px;
}
#menu li a{
  font-size: 18px;
  display: block;
  position: relative;
  color: white;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  bottom: 15px;
}
#menu li a:hover{
  background-color: rgba(222,30,55,0.9);
}

/***********Content section************/

.welcomeButton{
    font-family: "Agency FB";
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    margin: 0 auto;
    width: 40%;
    height: 70px;
    border-radius: 15px;
    background: rgba(200,40,60,0.9);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  .welcomeButton:hover{
    background: #333333;
  }
  #welcome{
  }
  #about{
  }
  #myModal{
  }
  #game{
    margin: 0 auto;
    width: 60%;
    font-size:30px;
  padding-left:50px;
  }
  #canvas{
    padding-right:250px;
    position:relative;
  }
  #logo2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:250px;
    height:100px;
  }

  